asa

## Tabla de datos

<table>
  <tr>
    <td>Pumas</td>
    <td>América</td>
    <td>Chivas</td>
    <td>Pumas</td>
    <td>Chivas</td>
  </tr>
  <tr>
    <td>Chivas</td>
    <td>América</td>
    <td>Toluca</td>
    <td>Toluca</td>
    <td>Pumas</td>
  </tr>
  <tr>
    <td>Santos</td>
    <td>Necaxa</td>
    <td>América</td>
    <td>América</td>
    <td>América</td>
  </tr>
  <tr>
    <td>Pumas</td>
    <td>Santos</td>
    <td>Pumas</td>
    <td>Pumas</td>
    <td>Pumas</td>
  </tr>
  <tr>
    <td>América</td>
    <td>Chivas</td>
    <td>América</td>
    <td>Pumas</td>
    <td>Necaxa</td>
  </tr>
  <tr>
    <td>Toluca</td>
    <td>Chivas</td>
    <td>América</td>
    <td>Toluca</td>
    <td>Santos</td>
  </tr>
</table>

## Tabla de frecuencias

<table>
  <tr>
    <th>EQUIPO</th>
    <th>F.A</th>
    <th>F.A.A</th>
    <th>F.R</th>
    <th>F.R.A</th>
  </tr>
  <tr>
    <td>NECAXA</td>
    <td>2</td>
    <td>2</td>
    <td>0.066666667</td>
    <td>0.066666667</td>
  </tr>
  <tr>
    <td>SANTOS</td>
    <td>3</td>
    <td>5</td>
    <td>0.1</td>
    <td>0.166666667</td>
  </tr>
  <tr>
    <td>TOLUCA</td>
    <td>4</td>
    <td>9</td>
    <td>0.133333333</td>
    <td>0.3</td>
  </tr>
  <tr>
    <td>CHIVAS</td>
    <td>5</td>
    <td>14</td>
    <td>0.166666667</td>
    <td>0.466666667</td>
  </tr>
  <tr>
    <td>AMERICA</td>
    <td>8</td>
    <td>22</td>
    <td>0.266666667</td>
    <td>0.733333333</td>
  </tr>
  <tr>
    <td>PUMAS</td>
    <td>8</td>
    <td>30</td>
    <td>0.266666667</td>
    <td>1</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>30</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

leilani

tavo